#map { 
    /* height: 100vh; */
    min-height: 550px; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}
.btn-apply {width: inherit;}
.paginate_button > a{
    font-size: 12px;
    padding: 1px !important;
}
.dataTables_info{
    font-size: 12px;
}

#applications, #usersList{
    cursor: pointer;
}

.select-info{
    display: none;
}

.date-picker-wrapper .month-wrapper table .day.checked{
    background-color: #198754;
    color: white !important;
}

.date-picker-wrapper .drp_top-bar .apply-btn{
    background: #198754;
}

.multiselect-dropdown-list-wrapper{
    margin-top:32px;
}

a, span, th, td {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

a, span {
    font-size:12px;
}

#daterange{
    font-size:13px;
    text-align: center;
}

.sellect-container{
    padding:13px 5px 0 5px;
}