#map { 
    /* height: 100vh; */
    min-height: 550px; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}
.btn-apply {width: inherit;}
.paginate_button > a{
    font-size: 12px;
    padding: 1px !important;
}
.dataTables_info{
    font-size: 12px;
}

#applications{
    cursor: pointer;
}

.select-info{
    display: none;
}

.date-picker-wrapper .month-wrapper table .day.checked{
    background-color: #198754;
    color: white !important;
}

.date-picker-wrapper .drp_top-bar .apply-btn{
    background: #198754;
}

.multiselect-dropdown-list-wrapper{
    margin-top:32px;
}