{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLavel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Device Information</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-md-4">Device ID: </label>
                <label class="col-md-8" id="devId"></label>
            </div>
            <div class="row">
                <label class="col-md-4">Latitude: </label>
                <label class="col-md-8" id="lat"></label>
            </div>
            <div class="row">
                <label class="col-md-4">Longitude: </label>
                <label class="col-md-8" id="lon"></label>
            </div>
            <div class="row">
                <label class="col-md-4">Timestamp: </label>
                <label class="col-md-8" id="timestamp"></label>
            </div>
        </div>
      </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4 ps-2">
                <div class="tool-bar mt-1 my-1">
                    <div class="row mx-1 mt-4">
                        <table id="applications" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Device ID</th>
                                    <th>Status</th>
                                    <th>Last Update</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row d-flex px-3 py-1 mt-4">
                        <div class="col-7">
                            <input type="text" class="w-100 form-control" id="daterange" name="daterange" />
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-success btn-apply w-100">Apply</button>
                        </div>
                    </div>
                    <div class="row mx-3 my-1">
                        <button type="button" id="export-csv" class="btn btn-success">Export CSV</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-8">
                <div id="map" class="mt-5">
                </div>
                <div>
                    <input type="range" class="form-range" id="timerange">
                    <div class="w-100 d-flex justify-content-between">
                        <p id="starttime"></p>
                        <p id="endtime"></p>
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.is_superuser == 1 %}
            <div class="row">
                <div class="col-md-8">
                    <table id="usersList" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-4" id="multiselect">
                    <label for="my-element">Device ID List</label>
                    <input type="text" class="form-control" id="my-element" style="display:none;">
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        $(document).ready(function(){
            var is_superuser = '{{ request.user.is_superuser }}';
            var mySellect;
            var rowsData = [];

            $('#daterange').dateRangePicker(
            {
                startOfWeek: 'monday',
                separator : ' ~ ',
                format: 'YYYY/MM/DD HH:mm',
                autoClose: false,
                time: {
                    enabled: true
                }
            });

            if (is_superuser === 'True') {
                var device_ids = {{ trucks|safe }};
                var origin_list = device_ids.map(item => item.id);
                var destin_list = [];

                $('#usersList').DataTable({
                    processing: true,
                    serverSide: true,
                    ordering: false,
                    lengthChange:false,
                    searching: false,
                    select: 'single',
                    ajax: {
                        url : 'get-users/',
                        type : 'POST'
                    },
                    select: {
                        style: 'single',
                        selector: 'td:first-child'
                    },
                    columns: [
                        {
                            data:'email', 
                            orderable:false
                        },
                        {
                            data:'first_name',
                            orderable:false
                        },
                        {
                            data:'last_name',
                            orderable:false
                        },
                    ]
                });

                var userTable = $('#usersList').DataTable();
                $('#usersList tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        userTable.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                    var selectedRows = userTable.row('.selected').data();
                    var id = selectedRows['id'];
                    
                    $.ajax({
                        type: 'POST',
                        url: 'get-device-by-user/',
                        data: { id: id },
                        success: function(data){
                            var device_ids = data.data.map(item=>item.device_id);
                            $('.sellect-container').remove();
                            var newElement = document.createElement("input");
                            newElement.setAttribute("class", "form-control");
                            newElement.setAttribute("id", "my-element");
                            newElement.style.display="none";
                            var myDiv = document.getElementById("multiselect");
                            myDiv.appendChild(newElement);

                            mySellect = sellect("#my-element", {
                                originList: origin_list,
                                destinationList: device_ids,
                                onInsert: updateDeviceList
                            });
                            mySellect.init();
                        }
                    });

                    function updateDeviceList() {
                        var device_ids = mySellect.getSelected()
                        
                        $.ajax({
                            type: 'POST',
                            url: 'update-device-by-user/',
                            data: { id: id, device_ids: device_ids},
                            success: function(data){
                                
                            }
                        });
                    }
                });
            }
            
            $('#confirmInfo').on('click', function(){
                $('#myModal').modal('hide');
            });

            var map = L.map('map').setView([-34.4450409, 150.8531664], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 25,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            const $timerange = $('#timerange');
            const $starttime = $('#starttime');
            const $endtime = $('#endtime');
            var maxValue = 0
            var minValue = 0

            $('#applications').DataTable({
                processing: true,
                serverSide: true,
                lengthChange:false,
                searching: false,
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0,
                    checkboxes: {
                        selectRow: true,
                        selectAllPages: false
                    }
                } ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]],
                fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    style = timestyle(aData.time)
                    $('td', nRow).css('background-color', style);
                },
                ajax: {
                    url : 'get-data/',
                    type : 'POST'
                },
                columns: [
                    {
                        data:null, 
                        orderable:false, 
                        render:function(data, type, full, meta){
                            return "";
                        }
                    },
                    {data:'id'},
                    {
                        data:'status', 
                        orderable:false,
                        render: function(data, type, row) {
                            if(data == "1")
                                return "ONLINE"
                            else
                                return "OFFLINE" 
                        }
                    },
                    {
                        data:'time',
                        orderable:true,
                        render: function(data, type, row) {
                            var changed = timeformat(data)
                            return changed
                        }
                    },
                ]
            });
            
            var table = $('#applications').DataTable();

            $('.btn-apply').click(function(){
                var daterange = $("input[name='daterange']").val();
                var dates = daterange.split(' ~ ')
                var minValue = dates[0];
                var maxValue = dates[1];
                var unixTimestampMinValue = Math.floor(Date.parse(minValue) / 1000);
                var unixTimestampMaxValue = Math.floor(Date.parse(maxValue) / 1000);
                
                $timerange.attr({'max': unixTimestampMaxValue, 'min': unixTimestampMinValue});
                $timerange.val(unixTimestampMaxValue);
                $starttime.text(minValue);
                $endtime.text(maxValue);

                var selectedRows = JSON.stringify(Array.from(table.rows('.selected').data()).map(obj => obj.id));

                $.ajax({
                    type: 'POST',
                    url: 'get-map-data/',
                    data: { startDate: unixTimestampMinValue, endDate: unixTimestampMaxValue, ids: selectedRows},
                    success: function(data){
                        map.eachLayer(function(layer) {
                            if (layer instanceof L.Marker) {
                                map.removeLayer(layer);
                            }
                        });
                        
                        if (data.rows.length > 0){
                            rowsData = data.rows;

                            var markers = L.markerClusterGroup();
                            map.addLayer(markers);
                            
                            data.rows.forEach(item => {
                                const marker = L.marker([item.lat, item.lon]);
                                marker.on('click', () => {
                                    $('#lat').text(item.lat);
                                    $('#lon').text(item.lon);
                                    $('#devId').text(item.id);
                                    $('#timestamp').text(timeformat(item.timestamp))
                                    $('#myModal').modal('show');
                                });
                                markers.addLayer(marker);                                    
                            });
                            map.setView([data.rows[0].lat, data.rows[0].lon], 19);
                        }
                    }
                });
                
            });
            
            
            $('#applications tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            
            $timerange.on('input', function() {

                const endtime = parseInt($(this).val());
                const starttime = parseInt($(this).attr('min'));
                
                const filteredData = rowsData.filter(item => item.timestamp > starttime && item.timestamp < endtime);
  
                map.eachLayer(layer => {
                  if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                  }
                });
                
                var markers = L.markerClusterGroup();
                map.addLayer(markers);
                
                filteredData.forEach(item => {
                    const marker = L.marker([item.lat, item.lon])
                    markers.addLayer(marker);
                });
                map.setView([filteredData[0].lat, filteredData[0].lon], 19);
            });
            
            $('#export-csv').click(function(){
                var csvString = 'data:text/csv;charset=utf-8,';

                csvarray = []
                rowsData.forEach(function(row) {
                    var csvrow = [row.id, row.lat, row.lon, row.status, row.time];
                    csvarray.push(csvrow);
                });
                if(csvarray.length == 0){
                    alert("No Data selected!");
                    return;
                }
                csvarray.forEach(function(row) {
                    csvString += row.join(',') + '\r\n';
                });
                // Create link and trigger download
                var link = document.createElement('a');
                link.setAttribute('href', encodeURI(csvString));
                link.setAttribute('download', 'selected_rows.csv');
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            
            function timeformat(data){
                if (data.toString().length < 11) {
                    var dateObj = new Date(data * 1000)
                } else {
                    var dateObj = new Date(data);
                }
                var year = dateObj.getFullYear();
                var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
                var day = ('0' + dateObj.getDate()).slice(-2);
                var hours = ('0' + dateObj.getHours()).slice(-2);
                var minutes = ('0' + dateObj.getMinutes()).slice(-2);
                var seconds = ('0' + dateObj.getSeconds()).slice(-2);
                var dateString = year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                return dateString;
            }
            function timestyle(data){
                prevtime = parseInt(data)
                currenttime = Date.now()
                timedivide = currenttime - prevtime
                color = "#ffffff"
                if (timedivide < 600000)
                    color = "#7af57a"
                if (timedivide > 600000){
                    color = '#fcc772'
                }
                if(timedivide > 86400000){
                    color = '#ff7588'
                }
                return color
            }
        })
    </script>
    
{% endblock %}