{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4 ps-2">
                <div class="tool-bar mt-1 my-1">
                    <div class="row mx-1 mx-1 my-1">
                        <select class="form-select">
                            <option value="ALL" selected> ALL</option>
                            {% for truck in trucks %}
                                <option value={{truck.id}}> {{truck.id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-100 d-flex px-1 py-1">
                        <input type="text" class="me-2" name="daterange" value="01/01/2018 - 01/15/2018" />
                        <button type="button" class="btn btn-success btn-apply">Apply</button>
                    </div>
                    <div class="row mx-1 mt-4">
                        <table id="applications" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Device ID</th>
                                    <th>Status</th>
                                    <th>Last Update</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row mx-1 my-1">
                        <button type="button" class="btn btn-success">Export CSV</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-8">
                <div id="map">
    
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            const rowsData = JSON.parse('{{ rows|safe }}');
            console.log(rowsData)
            var map = L.map('map').setView([-34.4450409, 150.8531664], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 13,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
        
            rowsData.map(item => {
                var marker = L.marker([item[1], item[2]]).addTo(map); 
            })

            $('select').change(function() {
                var truckId = $(this).val();
                $.ajax({
                  url: '/get-id-tracks/',
                  type: 'POST',
                  data: {'id':truckId},
                  success: function(response) {
                    console.log(response)
                    map.eachLayer(function(layer) {
                        if (layer instanceof L.Marker) {
                            map.removeLayer(layer);
                        }
                    });
                    map.setView([response.rows[0][1], response.rows[0][2]], 13);
                    response.rows.map(item => {
                        var marker = L.marker([item[1], item[2]]).addTo(map); 
                    })                    
                  },
                  error: function(xhr) {
                    console.log(xhr.responseText);
                  }
                });
              });

            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });

            $('#applications').DataTable({
                processing: true,
                serverSide: true,
                lengthChange:false,
                searching: false,
                ordering: false,
                ajax: {
                    url : 'get-data/',
                    type : 'POST',
                },
                columns: [
                    {data:'id', orderable:false},
                    {
                        data:'status', 
                        orderable:false,
                        render: function(data, type, row) {
                            if(data == "1")
                                return "ONLINE"
                            else
                                return "OFFLINE" 
                        }
                    },
                    {
                        data:'time',
                        render: function(data, type, row) {
                            var changed = timeformat(data)
                            return changed
                        }
                    },
                ]
            });

            function timeformat(data){
                prevtime = parseInt(data)
                currenttime = Date.now()
                timedivide = currenttime - prevtime
                m_date = new Date(timedivide).toISOString()
                datetime = m_date.substr(0, 10) + " " + m_date.substr(11, 8);
                return datetime
            }
        })
    </script>
    
{% endblock %}