{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4 ps-2">
                <div class="tool-bar mt-1 my-1">
                    <div class="row mx-1 mt-4">
                        <table id="applications" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Device ID</th>
                                    <th>Status</th>
                                    <th>Last Update</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row d-flex px-3 py-1 mt-4">
                        <div class="col-7">
                            <input type="text" class="w-100" id="daterange" name="daterange" />
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-success btn-apply w-100">Apply</button>
                        </div>
                    </div>
                    <div class="row mx-3 my-1">
                        <button type="button" id="export-csv" class="btn btn-success">Export CSV</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-8">
                <div id="map" class="mt-5">
                </div>
                <div>
                    <input type="range" class="form-range" id="timerange">
                    <div class="w-100 d-flex justify-content-between">
                        <p id="starttime"></p>
                        <p id="endtime"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var rowsData = {{ rows|safe }};
            var map = L.map('map').setView([-34.4450409, 150.8531664], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            const $timerange = $('#timerange');
            const $starttime = $('#starttime');
            const $endtime = $('#endtime');
            var maxValue = 0
            var minValue = 0

            /*
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                }, function(start, end, label) {

                });
            });
            */

            $('#daterange').dateRangePicker(
            {
                startOfWeek: 'monday',
                separator : ' ~ ',
                format: 'YYYY/MM/DD HH:mm',
                autoClose: false,
                time: {
                    enabled: true
                },
                defaultTime: moment().startOf('day').toDate(),
                defaultEndTime: moment().endOf('day').toDate()
            });

            $('#applications').DataTable({
                processing: true,
                serverSide: true,
                lengthChange:false,
                searching: false,
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0,
                    checkboxes: {
                        selectRow: true,
                        selectAllPages: false
                    }
                } ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]],
                fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    style = timestyle(aData.time)
                    $('td', nRow).css('background-color', style);
                },
                ajax: {
                    url : 'get-data/',
                    type : 'POST'
                },
                columns: [
                    {
                        data:null, 
                        orderable:false, 
                        render:function(data, type, full, meta){
                            return "";
                        }
                    },
                    {data:'id'},
                    {
                        data:'status', 
                        orderable:false,
                        render: function(data, type, row) {
                            if(data == "1")
                                return "ONLINE"
                            else
                                return "OFFLINE" 
                        }
                    },
                    {
                        data:'time',
                        orderable:true,
                        render: function(data, type, row) {
                            var changed = timeformat(data)
                            return changed
                        }
                    },
                ]
            });

            $('.btn-apply').click(function(){
                var daterange = $("input[name='daterange']").val();
                
                var dates = daterange.split(' ~ ')
                var minValue = dates[0];
                var maxValue = dates[1];
                var unixTimestampMinValue = Math.floor(Date.parse(minValue) / 1000);
                var unixTimestampMaxValue = Math.floor(Date.parse(maxValue) / 1000);
                
                $timerange.attr({'max': unixTimestampMaxValue, 'min': unixTimestampMinValue});
                
                $.ajax({
                    type: 'POST',
                    url: 'get-data-by-date/',
                    data: { startDate: unixTimestampMinValue, endDate: unixTimestampMaxValue },
                    success: function(data){
                        map.eachLayer(function(layer) {
                            if (layer instanceof L.Marker) {
                                map.removeLayer(layer);
                            }
                        });

                        if (data.rows.length > 0){
                            for (var i = 0; i < data.rows.length; i++){
                                var marker = L.marker([data.rows[i][1], data.rows[i][2]]).addTo(map);
                            }
                        }
                    }
                })

                $starttime.text(minValue)
                $endtime.text(maxValue)
            });
            
            var table = $('#applications').DataTable();
            $('#applications tbody').on('click', 'tr', function () {
                // Toggle the selected class on the selected row
                $(this).toggleClass('selected');
            
                // Get selected rows and log their data
                var selectedRows = table.rows('.selected').data();

                map.eachLayer(function(layer) {
                    if (layer instanceof L.Marker) {
                        map.removeLayer(layer);
                    }
                });
                if(selectedRows.length > 0){
                    map.setView([selectedRows[0].lat, selectedRows[0].lon], 19);
                }

                rowsData = Array.from(selectedRows)

                map.eachLayer(layer => {
                    if (layer instanceof L.Marker) {
                      map.removeLayer(layer);
                    }
                });

                rowsData.forEach(item => {
                    const marker = L.marker([item.lat, item.lon]).addTo(map);
                });
                timearray = rowsData.map(item => item.time)
                if(timearray.length > 1){
                    maxValue = Math.max(...timearray)+100;
                    minValue = Math.min(...timearray)-100;
                }else{
                    minValue = maxValue = Date.now();
                }
                
                $timerange.attr({'max': maxValue, 'min': minValue});

                $starttime.text(timeformat(minValue))
                $endtime.text(timeformat(maxValue))
                $timerange.val(maxValue)
            });
            

            timearray = rowsData.map(item => item.time)

            if(timearray.length > 1){
                maxValue = Math.max(...timearray) + 100;
                minValue = Math.min(...timearray) - 100;
            }else{
                maxValue = Date.now()
                minValue = timearray[0] -100 
            }

            $timerange.attr({'max': maxValue, 'min': minValue});

            $starttime.text(timeformat(minValue))
            $endtime.text(timeformat(maxValue))
            
            $timerange.on('input', function() {

                const endtime = parseInt($(this).val());
                const starttime = parseInt($(this).attr('min'));
                
                const filteredData = rowsData.filter(item => item.time > starttime && item.time < endtime);
  
                map.eachLayer(layer => {
                  if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                  }
                });
                
                filteredData.forEach(item => {
                  const marker = L.marker([item.lat, item.lon]).addTo(map);
                });
            });
            
            $('#export-csv').click(function(){
                var csvString = 'data:text/csv;charset=utf-8,';

                csvarray = []
                rowsData.forEach(function(row) {
                    var csvrow = [row.id, row.lat, row.lon, row.status, row.time];
                    csvarray.push(csvrow);
                });
                if(csvarray.length == 0){
                    alert("No Data selected!");
                    return;
                }
                csvarray.forEach(function(row) {
                    csvString += row.join(',') + '\r\n';
                });
                // Create link and trigger download
                var link = document.createElement('a');
                link.setAttribute('href', encodeURI(csvString));
                link.setAttribute('download', 'selected_rows.csv');
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            
            function timeformat(data){
                if (data.toString().length < 11) {
                    var dateObj = new Date(data * 1000)
                } else {
                    var dateObj = new Date(data);
                }
                var year = dateObj.getFullYear();
                var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
                var day = ('0' + dateObj.getDate()).slice(-2);
                var hours = ('0' + dateObj.getHours()).slice(-2);
                var minutes = ('0' + dateObj.getMinutes()).slice(-2);
                var seconds = ('0' + dateObj.getSeconds()).slice(-2);
                var dateString = year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                return dateString;
            }
            function timestyle(data){
                prevtime = parseInt(data)
                currenttime = Date.now()
                timedivide = currenttime - prevtime
                color = "#ffffff"
                if (timedivide < 600000)
                    color = "#7af57a"
                if (timedivide > 600000){
                    color = '#fcc772'
                }
                if(timedivide > 86400000){
                    color = '#ff7588'
                }
                return color
            }
        })
    </script>
    
{% endblock %}